body {
  padding: 30px;
  background-color: #dcdcdc;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ants-wrapper {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  text-align: center;

  .ant {
    padding: 15px;
    display: inline-block;
    margin: 10px;
    transition: opacity 0.3s ease-in-out;

    &.dead {
      opacity: 0.1;
    }

    span {
      display: block;
      line-height: 1;
      margin: 3px 0;

      &.type {
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    &.reine {
      background: gold;
    }

    &.soldat {
      background: darkred;
      color: white;
    }

    &.travailleuse {
      background-color: darkblue;
      color: white;
    }
  }
}

button.cta {
  margin: 30px 15px 0;
  padding: 30px;
  font-size: 25px;
}

button.reset {
  display: block;
  margin: 30px auto 0;
  background: none;
  border: none;
  color: grey;
  text-decoration: underline;
}

.score-table {
  border-spacing: 0;
  background-color: white;
  padding: 15px;
  line-height: 2;
  border-radius: 5px;

  td {
    padding: 10px;
  }

  tr {
    &:nth-child(even) {
      background-color: lightslategrey;
      color: white;
    }
  }
}
